<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Bdate</th>
    </tr>
  </thead>
  <tbody id="tableBody">
  </tbody>
  <tfoot>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Bdate</th>
    </tr>
  </tfoot>
</table>

@section scripts {
  <script type="text/javascript">
    $(document).ready(function () {
      $.ajax({
        url: "/Person/GetUserList",
        success: function (data) {
          console.log(data)
          $.each(data, function (i, item) {
            $("#tableBody").append(
              "<tr>" +
                "<td>"+item.fname+"</td>" +
                "<td>"+item.lname+"</td>" +
                "<td>"+item.address+"</td>" +
                "<td>"+item.bdate+"</td>" +
              "</tr>"
            )
          });
        }
      });
    })
  </script>
}